.header{                                        /*top heading containing logo and links*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color:#1F2937 ;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    
}

.logo{
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 12px;
}

.topLinks a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.subHead{                                       /*sub heading containing title and image*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 100px;
}

.left, .right{
    width: 30%;
}


.right{
    background-color: grey;
    height: 250px;
}

.heroMain{
    font-size: 48px;
    color: white;
    font-weight: bold;
    width: 50%;
    padding-bottom: 10px;
}

.heroSecond{
    font-size:18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

button{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cardHeading{                                   /* cards containing 4 images with text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 36px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.imageText{
    display: flex;
    flex-direction: column;
    width: 9%
}

.box, text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 160px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 20px;
}

.text{
    text-align: center;
    font-size:18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mid{                               /*Quote section*/             
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding-top: 175px;
    padding-bottom: 175px;
}


.quote{
    font-size: 36px; 
    font-style: italic;
    width: 50%;
}

.quoteCredit{
    display: flex;
    font-weight: bold;
    width: 50%;
    justify-content: end;
}
                                        
.bot{         /*Call to action*/
    display: flex;      
    justify-content: center;    
    margin-top: 100px;
    margin-bottom: 100px;
}                               
.action{                       
    display: flex;
    background-color:#3882F6;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 4px;
    gap: 100px;
}

.call, .subCall{
    color: white;
    font-size: 24px;
}

.call{
    font-weight: bold;
}

.rightCall{
    display: flex;
    border: 2px solid white;
    border-radius: 8px;
    align-items: center;
    height: 70%;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

}


